
        <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="row">
                  <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                    <a href="#be-the-first" class="btn btn-secondary btn-lg scroll">Dowiedz się więcej</a>
                  </div>
                  <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                    <a href="#invite" class="btn btn-primary btn-lg scroll">Złóż zamówienie</a>
                  </div>
                </div><!--End Button Row-->  
              </div>
            </div>


@model IEnumerable<nartyy.Models.Narty>


@{
    ViewBag.Title = "Wypożyczalnia nart i butów narciarskich";
}

<h2>Wybierz sprzęt do wypożyczenia:</h2>
<br>
<br>


<div class="row">
    <div class="col-md-6">
        <h3>Narty:</h3>
        <ul>
            @foreach (var item in ViewBag.Narty)
            {
                <li>
                    @( item.Nazwa)
                   @* <a href="@Url.Action("Rezerwacja", "Home", new { id = item.IDNarty, typSprzetu = "narty" })" class="btn btn-primary" role="button">Zarezerwuj</a>*@

                   @using (Html.BeginForm("Rezerwacja", "Home", new { id = item.IDNarty, typSprzetu = "narty" }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-primary">Zarezerwuj</button>
                    }

                </li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Buty narciarskie:</h3>
        <ul>
            @foreach (var item in ViewBag.Buty)
            {
                <li>
                    @( item.Nazwa)
                    @*<a href="@Url.Action("Rezerwacja", "Home", new { id = item.IDButyNarciarskie, typSprzetu = "buty" })" class="btn btn-primary" role="button">Zarezerwuj</a>
               *@
                  @using (Html.BeginForm("Rezerwacja", "Home", new { id = item.IDButyNarciarskie, typSprzetu = "buty" }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-primary">Zarezerwuj</button>
                    }
                
                </li>
            }
        </ul>
    </div>
</div>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
